<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href={{ url_for('static', filename='profile.css' )}}>
</head>

<body>
    <script src={{ url_for('static', filename='print_data.js' ) }}></script>

    <div class="loggin">
        <h1>Your`s Profile</h1>
        <table>
            <tr>
                <td>name</td>
                <td class="loggin--first_name"></td>
            </tr>
            <tr>
                <td>username</td>
                <td class="loggin--username"></td>
            </tr>
            <tr>
                <td>lang</td>
                <td class="loggin--language_code"></td>
            </tr>
        </table>
    </div>

</body>

</html>