<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./wordfind.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="field" id="field"></div>
    </div>

    <div id="selected-letters"></div>
    <button id="bt-clear">Очистить</button>
    <button id="bt-mix">Перемешать</button>
    <button id="bt-new">Новая игра</button>

    <script src="./game.js"></script>
</body>

</html>