:root {
    --light: var(--tg-theme-bg-color);
    --bright: var(--tg-theme-button-color);
    --dark: var( --tg-theme-secondary-bg-color);
    --neutral: var(--tg-theme-hint-color);
    
}

@font-face {
	font-family: 'Lilita One'; 
	src: local('Lilita One'),
		url(/static/fonts/LilitaOne-Regular.ttf); 
}