* {
  margin: 0;
  padding: 0;
}

.title {
  color: var(--bright);
  width: 100%;
  text-align: center;
  font-family: 'Lilita One';
  font-size: 16vw;
  margin-top: 24%;
}

body,
html {
  height: 100%;
  background-color: var(--light);
}

body {
  font-family: sans-serif;
  width: 100%;
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  grid-template-rows: auto;
  place-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.field {
  display: grid;
  row-gap: 0px;
  justify-content: center;
  margin-top: 2%;
  background-color: var(--light);
  width: min-content;

  outline: 10px solid var(--dark);
  border: 10px solid rgba(255, 0, 0, .0);
  border-radius: 2em;

}

.field-row {
  display: grid;
  grid-template-columns: auto;
  column-gap: 0px;

}

.field-cell {
  cursor: pointer;
  aspect-ratio: 1 / 1;
  width: 7vw;
  max-height: 5vh;

  display: grid;
  place-items: center;
  ;
}

.selected {
  background-color: var(--bright);
}

.button {
  text-decoration: none;
  user-select: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: #cccccc00;
}

.mix,
.send {
  margin: 10px 30px;
}

.clear {
  margin-right: 10px;
  z-index: 1;
}

.mix::before {
  content: url('/static/icons/Refresh.svg');
}

.clear::before {
  content: url('/static/icons/Eraser.svg');
}

.send::before {
  content: url('/static/icons/Check-Circle.svg');
}

.print-line {
  background-color: var(--dark);
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  outline: 5px solid var(--dark);
  border: 5px solid var(--dark);
  border-radius: 2em;
  position: relative;

}

.container-line {
  background-color: var(--light);
  width: 65vw;
  height: 20px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 0% 2em 2em 0%;
  z-index: 1;
}

.text-line {
  color: var(--neutral);
  min-width: none;
  width: min-content;
  max-width: 60vw;
  overflow: scroll;
}

.shading {
  width: 101%;
  height: 101%;
  background-color: var(--dark);
  position: absolute;
  outline: 5px solid var(--dark);
  border: 5px solid var(--dark);
  border-radius: 2em;
  top: -5px;
}

.user_profile {
  background-color: rgb(255, 255, 255);
  outline: 5px solid var(--dark);
  border: 5px solid var(--dark);
  border-radius: 0% 0% 2em 2em;
  position: absolute;
  top: -5px;
  min-width: 80vw;
  min-height: 8vh;
  display: grid;
  place-items: center;
}

#status {
  color: var(--bright);
  font-family: 'Lilita One', sans-serif;
  font-size: 7vw;
}